body {
  background: rosyBrown;
}
#grid {
  /*display: flex;*/
  width: 50vw;
  display: block;
  margin: 0 auto;
}
.row {
  display:flex;
  background: whiteSmoke;
}
.col {
  border: 1px solid lightGray;
  border-top: none;
  border-left: none;
  flex:1;
  height: auto;
}
.col:before {
  content:'';
  float:left;
  padding-top:100%;
}
.row:first-child {
  border-top: 1px solid lightGray;
}
.col:first-child {
  border-left: 1px solid lightGray;
}
.snake {
  background: lightGreen;
}
.col.bug {
  background: black;
}
/*#spider {
  background-image: image("spider.jpg");
  height: auto;
}*/
