body {
  background: url(Snakeskin_Green_Pattern_Textures.jpg) green;
  font-family: OCR A Std;
  font-size: 20px;
  text-shadow: -2px 2px 2px rgba(150, 150, 150, 1);
  color: white;
}
h1 {
  display: flex;
}
p {
  float: left;
}
#grid {
  /*display: flex;*/
  padding-top: 80px;
  width: 46vw;
  display: block;
  margin: 0 auto;
}
.row {
  display:flex;
  background: whiteSmoke;
}
.col {
  border: 1px solid white;
  border-top: none;
  border-left: none;
  flex:1;
  height: auto;
}
.col:before {
  content:'';
  float:left;
  padding-top:100%;
}
.row:first-child {
  border-top: 1px solid lightGray;
}
.col:first-child {
  border-left: 1px solid lightGray;
}
.snake {
  background: lightGreen;
}
.col.bug {
  background: url(snakeFood.png) black;
  background-size:cover;
}
header {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  float: right;
}
a {
  text-decoration: none;
  color: white;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
a:hover {
  color: red;
}
.easterEgg {
  width: 200px;
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition-timing-function: ease;
  transition: opacity 1.5s ease-in;
  -moz-transition: opacity 1.5s ease-in;
  -webkit-transition: opacity 1.5s ease-in;
  -o-transition: opacity 1.5s ease-in;
}
.easterEgg:hover {
  opacity: 0.75;
}
body.gameOver {
  background: url("Game-Over-Stacked.jpg");
  background-size: cover;
}
body.youWin {
  background: url("You-Win-Screen.jpg");
  background-size: cover;
}
.nav {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
